
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vw;
	width:100vh;
}
.item-1{
	background-color:red;
	width:100px;
	height:100px;
	background-color: red;         
    color: white;    
	
}